body
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  margin: 0px;
  padding: 0px;
}

canvas {
  left: 0px;
  position: absolute;
  top: 0px;

}

#canvas2
{
  z-index: 1;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 0.3em;
}
h1 {
  font-size: 1.3em;
}
h1:first-child {
  margin-top: 0;
}
h1 ~ p {
  margin-top: 0px;
}
p {
  margin: 0.3em 0;
}

.drawer-container {
  color: #FFF;
  font-family: helvetica, arial, sans-serif;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 1000;
}

.drawer-container .drawer {
  background: RGBA(0,0,0,0.5);
  box-shadow: inset 0 -50px 100px #000;
  display: none;
  padding: 20px;
}
.drawer-container label {
  background: RGBA(0,0,0,0.5);
  display: block;
  margin: 0px auto;
  padding: 10px;
  width: 100px;
}
.drawer-container input {
  display: none;
}
.drawer-container input:checked ~ .drawer {
  display: block;
}

.calculation {
  align-items: center;
  display: flex;
}
.calculation > * {
  margin: 5px;
}
.matrix,
.vector {
  border-left: 2px solid #FFF;
  border-right: 2px solid #FFF;
  display: inline-flex;
  padding: 5px;
  position: relative;
}
.vector::before,
.vector::after,
.matrix::before,
.matrix::after {
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  content: '';
  height: calc(100% - 4px);
  left: 0px;
  top: 0px;
  position: absolute;
  width: 5px;
}
.vector::after,
.matrix::after {
  left: auto;
  right: 0px;
}
.matrix--2x2 {

}
.vector {
  /*display: inline-block;*/
  flex-direction: column;
  text-align: center;
  padding: 10px;
}
.matrix .vector {
  border: none;
  flex: 1 1 auto;
  padding: 5px;
}
.matrix .vector::before,
.matrix .vector::after {
  display: none;
}

.color-0,
.color-0::before,
.color-0::after {
  border-color: #c678dd;
  color: #c678dd;
}
.color-1,
.color-1::before,
.color-1::after {
  border-color: #98c379;
  color: #98c379;
}
.color-2,
.color-2::before,
.color-2::after {
  border-color: #c34448;
  color: #c34448;
}
